@import '~antd/dist/antd.css';

.wrapper {
    display: flex;
    flex-direction: row;
    border-top: 1px solid grey;
    padding: 1em 2em;
    box-sizing: padding-box;
    width: 100%;
}

.table-list {
    width: 100%;
}
.table-list_body {
    width:100%;
}
.table-list_body td {
    text-align: center;
    vertical-align: middle;
}
.table-list header, h2 {
    color: white;
}

.table-list header {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    justify-content: flex-end
}

.todo-list_todo-list-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.5em;
}

.table-list_header {
    height: 130px;
    background-color: blue;
}
